<nz-table #bbqTable [nzData]="listOfData" nzBordered nzSize="middle" [nzScroll]="{ x: '1200px', y: '240px' }">
    <thead>
      
      <tr>
        <th>Name</th>  
        <th [nzSortFn]="sortAgeFn">Age</th>        
        <th>Street</th>
        <th>Building</th>
        <th>Number</th>
        <th>Company Address</th>
        <th>Company Name</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of bbqTable.data">
        <td nzLeft>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.street }}</td>
        <td>{{ data.building }}</td>
        <td>{{ data.number }}</td>
        <td>{{ data.companyAddress }}</td>
        <td>{{ data.companyName }}</td>
        <td nzRight>{{ data.gender }}</td>
      </tr>
    </tbody>
  </nz-table>
