<button (click)="addBbq()" nz-button [nzType]="'primary'" style="margin: 20px; width: 100px;">Add</button>

<nz-table #bbqTable [nzData]="listOfData" nzBordered nzSize="middle">
    <thead>
      
      <tr>
        <th>GIHS</th>  
        <th>Name</th>        
        <th>District</th>
        <th>Address</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of bbqTable.data">
        <td nzLeft>{{ data.GIHS }}</td>
        <td nzRight>{{ data.name }}</td>
        <td>{{ data.district }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.longitude }}</td>
        <td>{{ data.latitude }}</td>
        <td><a (click)="editBbq(data)">Edit</a></td>
        <td><a (click)="deleteBbq(data)" style="color:red">Delete</a></td>
      </tr>
    </tbody>
  </nz-table>

  <app-mymodal [data]="editData" [(isVisible)]="modalIsVisible" (clickEvent)="clickEvent()">
  </app-mymodal>
